################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/RacSim/Assets/PlayerStats.cs
/RacSim/Assets/ThirdPersonCamera.cs
/RacSim/Assets/PlayerStats.cs
/RacSim/Assets/ThirdPersonCamera.cs
